@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

#content-container {
	max-width: 48rem;
	padding: 5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin: auto
}

#header {
	padding-bottom: 30px
}

#name {
	color: #484848;
	font-weight: 200;
	font-size: 200%;
}

#title {
	color: #787878
}

#nav {
	float: left;
}

.nav-elem {
	padding-right: 15px;
	float: left;
}

.content-section {
	padding-top: 30px;
	clear: both
}

.section-title {
	color: #484848;
	font-weight: 400;
	font-size: 160%;
}

.section-content {
	padding-top: 30px;
}

.section-divider {
	height: 0px;
	background-color: #E0E0E0;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.content-subsection {
	clear: both;
	margin-bottom: 30px;
	display: table;
	width: 100%;
}

.subsection-left {
	display: table-cell;
	width: 80px;
	padding-right: 10px;
	vertical-align: top;
}

.subsection-right {
	display: table-cell;
	vertical-align: top;
}

.subsection-title {
	font-weight: 400;
	font-size: 100%;
}

.subsection-subtitle {
	font-weight: 400;
	font-size: 80%;
	color: #696969;
}

.subsection-subtitle a {
	color: #696969;
}

.subsection-description {
	padding-top: 5px;
	font-size: 80%;
	color: #191919;
}

.subsection-image {
	width: 100%;
	height: 80px;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
	margin-top: 10px;
}

.image-padded {
	width: 70px;
	height: 70px;
	background-clip: content-box;
}

.subsection-nav {
	display: inline-block;
	padding-top: 7px;
	font-size: 80%;
}

.subsection-link {
	float: left;
	font-weight: 300;
	background-color: #888888;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 6px;
	border-radius: 3px;
	margin-right: 5px;
	transition: all 0.4s ease-out;
}

.subsection-link:hover {
	color: #202020;
	background-color: #DCDCDC;
}

.link-disabled {
	color: #202020;
	background-color: #DCDCDC;
}

a {
	transition: all 0.3s ease-out;
	text-decoration: none;
	color: black;
}

a:hover {
	color: #191919;
}

#contact {
	font-size: 90%;
}

#footer {
	padding-top: 40px;
	font-size: 60%;
	text-align: center;
}

#divider {
	margin-left: 3px;
	margin-right: 3px;
}

@media only screen and (max-width: 600px) {
	#name {
		font-size: 150%;
	}

	.subsection-left {
		display: none;
	}

	#content-container {
		padding: 3rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	body {
		margin: 0px;
		padding: 0px;
	}

	.subsection-subtitle {
		font-size: 80%;
	}

	.subsection-description {
		font-size: 80%;
		color: #464646;
	}

	.section-title {
		font-size: 120%
	}

	.section-divider {
		height: 1px;
	}

	.section-content {
		padding-top: 15px
	}

	.content-section {
		padding-top: 5px
	}

	#contact {
		font-size: 90%;
		color: #464646;
	}

	#nav {
		font-size: 85%;
		padding-bottom: 25px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 800px) {

	#content-container {
		padding: 3rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	body {
		margin: 0px;
		padding: 0px;
	}

	.subsection-subtitle {
		font-size: 90%;
	}

	.subsection-description {
		font-size: 85%;
		color: #464646;
	}

	.section-title {
		font-size: 120%
	}

	.section-divider {
		height: 1px;
	}

	.section-content {
		padding-top: 15px
	}

	.content-section {
		padding-top: 5px
	}

	#contact {
		font-size: 95%;
		color: #464646;
	}

	#nav {
		font-size: 90%;
		padding-bottom: 30px;
	}
}